.lastContainer{
    display: flex;
    width: 100%;
    margin-top: 20px;
    justify-content: center;
}
.listWrapper{
    width: 100%;
    max-width: 1024px;
    display: flex;
    gap: 20px;
}
.listSearch{
    flex: 1;
    background-color: yellow;
    padding: 10px;
    border-radius: 10px;
    position: sticky;
    margin-top:30px;
    height: max-content;

}
.listResult{
    flex:3;
    margin-top: 30px;
}
.listTitle{
    font-size: 20px;
    font-weight: bold;
    color:#555;
    margin-bottom: 10px;
    text-align: start;
}
.listItem{
    display: flex;
    flex-direction: column;
    gap:5px;
    margin-bottom: 10px;
    text-align: start;
}
.listItem>label{
    font-size: 14px;
    text-align: start;
}
.listItem>input{
    height: 30px;
    border: none;
    padding: 5px;
    text-align: start;
}
.listItem>span{
    height: 30px;
    padding: 5px;
    background-color: white;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-align: start;
}
.listOptionItem{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
    color: #555;
    font-size: 15px;
}
.listOptionInput{
    width: 50px;
}
.listSearch>button{
    background-color: rgb(10, 149, 195);
    border: none;
    padding: 10px;
    color: white;
    display: grid;
    font-weight: 500;
    width: 100%;
    cursor: pointer;
}
@media (max-width: 768px) {
   .listSearch{
    margin-left: 100px;
   }
   
  }
